In [1]:
%load_ext nb_black

# Introduction

This notebook explores the capabilities of the [yfinance](https://pypi.org/project/yfinance/) library.

# Libraries

In [2]:
import yfinance as yf
import pandas as pd

# Constants

In [3]:
I_DONT_KNOW = "¯\_(ツ)_/¯"

# Single Stock

Follow documentation:

In [4]:
ticker = "tsla"
stock = yf.Ticker(ticker)

print(f"The sector of {ticker} is {stock.info.get('sector', I_DONT_KNOW)}")
print(f"The industry of {ticker} is {stock.info.get('industry', I_DONT_KNOW)}")

The sector of tsla is ¯\_(ツ)_/¯
The industry of tsla is ¯\_(ツ)_/¯

In [5]:
hist = stock.history(period="max")
hist.head(5)

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [6]:
stock.info.get("longBusinessSummary", I_DONT_KNOW)

'¯\\_(ツ)_/¯'

In [7]:
stock.actions.head(5)

            Dividends  Stock Splits
Date
2020-08-31        0.0           5.0

In [8]:
stock.dividends.head(5)

Series([], Name: Dividends, dtype: int64)

In [9]:
stock.splits.head(5)

Date
2020-08-31    5.0
Name: Stock Splits, dtype: float64

In [10]:
stock.quarterly_financials

,2020-12-31,2020-09-30,2020-06-30,2020-03-31
Research Development,5.22e+08,3.66e+08,2.79e+08,3.24e+08
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,3.79e+08,5.55e+08,1.5e+08,7e+07
Minority Interest,1.454e+09,1.469e+09,1.482e+09,1.499e+09
Net Income,2.7e+08,3.31e+08,1.04e+08,1.6e+07
Selling General Administrative,9.69e+08,9.31e+08,6.61e+08,6.27e+08
Gross Profit,2.066e+09,2.063e+09,1.267e+09,1.234e+09
Ebit,5.75e+08,7.66e+08,3.27e+08,2.83e+08
Operating Income,5.75e+08,7.66e+08,3.27e+08,2.83e+08
Other Operating Expenses,None,None,None,None
Interest Expense,-2.46e+08,-1.62e+08,-1.73e+08,-2.08e+08
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,8.3e+07,1.86e+08,2.1e+07,2e+06
Total Revenue,1.0744e+10,8.771e+09,6.036e+09,5.985e+09
Total Operating Expenses,1.0169e+10,8.005e+09,5.709e+09,5.702e+09
Cost Of Revenue,8.678e+09,6.708e+09,4.769e+09,4.751e+09
Total Other Income Expense Net,-1.96e+08,-2.11e+08,-1.77e+08,-2.13e+08
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,2.96e+08,3.69e+08,1.29e+08,6.8e+07
Net Income Applicable To Common Shares,2.7e+08,3e+08,1.04e+08,1.6e+07

In [11]:
stock.major_holders

                        Holder    Shares Date Reported  % Out        Value
0      Capital World Investors  52248658  Sep 29, 2020  5.51%  22415196768
1   Vanguard Group, Inc. (The)  43281548  Sep 29, 2020  4.57%  18568216907
2               Blackrock Inc.  38019526  Sep 29, 2020  4.01%  16310756849
3  Baillie Gifford and Company  34706535  Sep 29, 2020  3.66%  14889450580
4      Jennison Associates LLC  18743418  Sep 29, 2020  1.98%   8041113756
5     State Street Corporation  15754590  Sep 29, 2020  1.66%   6758876655
6                     FMR, LLC  15619293  Sep 29, 2020  1.65%   6700832889
7    Goldman Sachs Group, Inc.  11786907  Sep 29, 2020  1.24%   5056700972
8    JP Morgan Chase & Company  11341387  Sep 29, 2020  1.20%   4865568436
9                   BAMCO Inc.   7321901  Sep 29, 2020  0.77%   3141168748

In [12]:
stock.major_holders

                        Holder    Shares Date Reported  % Out        Value
0      Capital World Investors  52248658  Sep 29, 2020  5.51%  22415196768
1   Vanguard Group, Inc. (The)  43281548  Sep 29, 2020  4.57%  18568216907
2               Blackrock Inc.  38019526  Sep 29, 2020  4.01%  16310756849
3  Baillie Gifford and Company  34706535  Sep 29, 2020  3.66%  14889450580
4      Jennison Associates LLC  18743418  Sep 29, 2020  1.98%   8041113756
5     State Street Corporation  15754590  Sep 29, 2020  1.66%   6758876655
6                     FMR, LLC  15619293  Sep 29, 2020  1.65%   6700832889
7    Goldman Sachs Group, Inc.  11786907  Sep 29, 2020  1.24%   5056700972
8    JP Morgan Chase & Company  11341387  Sep 29, 2020  1.20%   4865568436
9                   BAMCO Inc.   7321901  Sep 29, 2020  0.77%   3141168748

In [13]:
stock.balance_sheet

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Intangible Assets,5.200000e+08,3.390000e+08,2.820000e+08,3.615020e+08
Total Liab,2.846900e+10,2.619900e+10,2.342700e+10,2.302305e+10
Total Stockholder Equity,2.222500e+10,6.618000e+09,4.923000e+09,4.237242e+09
Minority Interest,1.454000e+09,1.492000e+09,1.390000e+09,1.395080e+09
Other Current Liab,2.210000e+09,3.636000e+09,2.955000e+09,3.098379e+09
Total Assets,5.214800e+10,3.430900e+10,2.974000e+10,2.865537e+10
Common Stock,2.222500e+10,NaN,NaN,1.690000e+05
Other Liab,4.614000e+09,2.905000e+09,2.318000e+09,4.196294e+09
Other Assets,1.536000e+09,1.469000e+09,1.380000e+09,1.166193e+09
Cash,1.938400e+10,6.268000e+09,3.686000e+09,3.367914e+09
Total Current Liabilities,1.424800e+10,1.066700e+10,9.993000e+09,7.674740e+09
Short Long Term Debt,2.132000e+09,1.456000e+09,2.284000e+09,9.639320e+08
Property Plant Equipment,2.337500e+10,2.019900e+10,1.969100e+10,2.049162e+10
Total Current Assets,2.671700e+10,1.210300e+10,8.307000e+09,6.570520e+09
Net Tangible Assets,2.170500e+10,6.081000e+09,4.573000e+09,3.815503e+09
Net Receivables,1.886000e+09,1.324000e+09,9.490000e+08,5.153810e+08
Long Term Debt,9.607000e+09,1.043900e+10,8.461000e+09,9.486248e+09
Inventory,4.101000e+09,3.552000e+09,3.113000e+09,2.263537e+09
Accounts Payable,6.051000e+09,3.771000e+09,3.405000e+09,2.390250e+09
Capital Surplus,NaN,1.273700e+10,1.024900e+10,9.178024e+09
Other Current Assets,NaN,2.460000e+08,1.930000e+08,1.553230e+08
Retained Earnings,NaN,-6.083000e+09,-5.318000e+09,-4.974299e+09
Good Will,NaN,1.980000e+08,6.800000e+07,6.023700e+07
Treasury Stock,NaN,-3.600000e+07,-8.000000e+06,3.334800e+07
Other Stockholder Equity,NaN,-3.600000e+07,-8.000000e+06,3.334800e+07
Long Term Investments,NaN,1.000000e+06,1.200000e+07,5.304000e+06

In [14]:
stock.quarterly_balance_sheet

,2020-12-31,2020-09-30,2020-06-30,2020-03-31
Intangible Assets,5.200000e+08,3.180000e+08,3.120000e+08,3.230000e+08
Total Liab,2.846900e+10,2.819100e+10,2.679800e+10,2.657800e+10
Total Stockholder Equity,2.222500e+10,1.603100e+10,9.855000e+09,9.173000e+09
Minority Interest,1.454000e+09,1.469000e+09,1.482000e+09,1.499000e+09
Other Current Liab,2.210000e+09,3.655000e+09,3.305000e+09,3.410000e+09
Total Assets,5.214800e+10,4.569100e+10,3.813500e+10,3.725000e+10
Common Stock,2.222500e+10,1.000000e+06,NaN,NaN
Other Liab,4.614000e+09,3.151000e+09,3.010000e+09,2.891000e+09
Other Assets,1.536000e+09,1.436000e+09,1.415000e+09,1.373000e+09
Cash,1.938400e+10,1.453100e+10,8.615000e+09,8.080000e+09
Total Current Liabilities,1.424800e+10,1.330200e+10,1.227000e+10,1.198600e+10
Short Long Term Debt,2.132000e+09,2.814000e+09,3.364000e+09,2.904000e+09
Property Plant Equipment,2.337500e+10,2.199000e+10,2.087600e+10,2.046800e+10
Total Current Assets,2.671700e+10,2.174400e+10,1.533600e+10,1.489300e+10
Net Tangible Assets,2.170500e+10,1.551000e+10,9.347000e+09,8.657000e+09
Net Receivables,1.886000e+09,1.766000e+09,1.495000e+09,1.274000e+09
Long Term Debt,9.607000e+09,9.506000e+09,9.333000e+09,9.573000e+09
Inventory,4.101000e+09,4.218000e+09,4.018000e+09,4.494000e+09
Accounts Payable,6.051000e+09,4.958000e+09,3.638000e+09,3.970000e+09
Capital Surplus,NaN,2.157400e+10,1.589500e+10,1.539000e+10
Other Current Assets,NaN,1.740000e+08,2.030000e+08,1.930000e+08
Retained Earnings,NaN,-5.669000e+09,-6.000000e+09,-6.104000e+09
Good Will,NaN,2.030000e+08,1.960000e+08,1.930000e+08
Treasury Stock,NaN,1.250000e+08,-4.000000e+07,-1.130000e+08
Other Stockholder Equity,NaN,1.250000e+08,-4.000000e+07,-1.130000e+08

In [15]:
stock.cashflow

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Net Income,721000000.0,-8.620000e+08,-9.760000e+08,-1.962000e+09
Change To Liabilities,0.0,1.483000e+09,2.129000e+09,8.570000e+08
Total Cashflows From Investing Activities,NaN,-1.436000e+09,-2.337000e+09,-4.196000e+09
Net Borrowings,NaN,7.980000e+08,8.900000e+07,3.385000e+09
Total Cash From Financing Activities,NaN,1.529000e+09,5.740000e+08,4.415000e+09
Change To Operating Activities,NaN,-1.036000e+09,-5.510000e+08,-1.150000e+09
Issuance Of Stock,NaN,1.111000e+09,2.960000e+08,6.590000e+08
Change In Cash,NaN,2.506000e+09,3.120000e+08,1.980000e+08
Effect Of Exchange Rate,NaN,8.000000e+06,-2.300000e+07,4.000000e+07
Total Cash From Operating Activities,NaN,2.405000e+09,2.098000e+09,-6.100000e+07
Depreciation,NaN,2.107000e+09,1.901000e+09,1.636000e+09
Other Cashflows From Investing Activities,NaN,4.600000e+07,4.600000e+07,4.600000e+07
Change To Inventory,NaN,-4.290000e+08,-1.023000e+09,-1.790000e+08
Change To Account Receivables,NaN,-3.670000e+08,-4.970000e+08,-2.500000e+07
Other Cashflows From Financing Activities,NaN,-3.800000e+08,1.890000e+08,3.710000e+08
Change To Netincome,NaN,1.321000e+09,9.560000e+08,6.710000e+08
Capital Expenditures,NaN,-1.432000e+09,-2.319000e+09,-4.081000e+09

In [16]:
stock.quarterly_cashflow

,2020-12-31,2020-09-30,2020-06-30,2020-03-31
Change To Liabilities,0.000000e+00,1.275000e+09,-180000000.0,-2.120000e+08
Total Cashflows From Investing Activities,-1.047000e+09,-1.039000e+09,-566000000.0,-4.800000e+08
Net Borrowings,-2.305000e+09,-5.810000e+08,111000000.0,2.870000e+08
Total Cash From Financing Activities,2.692000e+09,4.450000e+09,123000000.0,2.708000e+09
Change To Operating Activities,1.242000e+09,-2.590000e+08,-290000000.0,-2.400000e+08
Issuance Of Stock,4.987000e+09,5.117000e+09,57000000.0,2.469000e+09
Net Income,2.700000e+08,3.310000e+08,104000000.0,1.600000e+07
Change In Cash,4.898000e+09,5.897000e+09,559000000.0,1.764000e+09
Effect Of Exchange Rate,2.340000e+08,8.600000e+07,38000000.0,-2.400000e+07
Total Cash From Operating Activities,3.019000e+09,2.400000e+09,964000000.0,-4.400000e+08
Depreciation,6.180000e+08,5.840000e+08,567000000.0,5.530000e+08
Other Cashflows From Investing Activities,1.220000e+08,1.220000e+08,122000000.0,1.000000e+06
Other Cashflows From Financing Activities,1.000000e+07,-8.600000e+07,-45000000.0,-4.800000e+07
Change To Netincome,8.890000e+08,8.000000e+08,491000000.0,3.920000e+08
Capital Expenditures,-1.164000e+09,-1.021000e+09,-566000000.0,-4.810000e+08
Change To Inventory,NaN,-6.700000e+07,446000000.0,-9.810000e+08
Change To Account Receivables,NaN,-3.140000e+08,-222000000.0,-1.400000e+07

In [17]:
stock.earnings

          Revenue    Earnings
Year
2017  11759000000 -1962000000
2018  21461000000  -976000000
2019  24578000000  -862000000
2020  31536000000   721000000

In [18]:
stock.quarterly_earnings

             Revenue   Earnings
Quarter
1Q2020    5985000000   16000000
2Q2020    6036000000  104000000
3Q2020    8771000000  331000000
4Q2020   10744000000  270000000

In [19]:
stock.sustainability.head(5)

                      Value
2021-1
palmOil               False
controversialWeapons  False
gambling              False
socialScore           17.31
nuclear               False

In [20]:
stock.recommendations.head(5)

                            Firm    To Grade From Grade Action
Date
2012-02-16 07:42:00    JP Morgan  Overweight              main
2012-02-16 13:53:00   Wunderlich        Hold              down
2012-02-17 06:17:00   Oxen Group         Buy              init
2012-03-26 07:31:00   Wunderlich         Buy                up
2012-05-22 05:57:00  Maxim Group         Buy              init

In [21]:
stock.isin

'US88160R1014'

In [22]:
stock.options

('2021-02-12',
 '2021-02-19',
 '2021-02-26',
 '2021-03-05',
 '2021-03-12',
 '2021-03-19',
 '2021-04-16',
 '2021-06-18',
 '2021-07-16',
 '2021-09-17',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17')

# Multiple Stocks

Download and save the required data for all stocks:

In [23]:
tickers = sorted(["AAPL", "TSLA", "AMZN", "DVN", "MGM", "BKD"])
data = yf.Tickers(tickers)

In [24]:
df = pd.DataFrame(columns = ["ticker", "sector", "industry", "market cap", "beta", "previous close", "description"])
df

Empty DataFrame
Columns: [ticker, sector, industry, market cap, beta, previous close, description]
Index: []

In [25]:
for ticker in tickers:
    stock = getattr(data.tickers, ticker)
    details = {
            "ticker": ticker,
            "sector": stock.info.get("sector", I_DONT_KNOW),
            "industry": stock.info.get("industry", I_DONT_KNOW),
            "market cap": stock.info.get("marketCap", I_DONT_KNOW),
            "beta": stock.info.get("beta", I_DONT_KNOW),
            "previous close": stock.info.get("previousClose", I_DONT_KNOW),
            "description": stock.info.get("longBusinessSummary", I_DONT_KNOW)
        }
        
    df = df.append(details, ignore_index=True)
    
    stock.balancesheet.sort_index().to_csv(f"BS_{ticker}.csv")
    stock.financials.sort_index().to_csv(f"IS_{ticker}.csv")
    
df.to_csv(f"summary_profile_all.csv", index=False)
df

,ticker,sector,industry,market cap,beta,previous close,description
0,AAPL,Technology,Consumer Electronics,2295940513792,1.26788,137.185,"Apple Inc. designs, manufactures, and markets ..."
1,AMZN,Consumer Cyclical,Internet Retail,1688025300992,1.14301,3331.000,"Amazon.com, Inc. engages in the retail sale of..."
2,BKD,Healthcare,Medical Care Facilities,977441984,1.82551,5.450,Brookdale Senior Living Inc. owns and operates...
3,DVN,Energy,Oil & Gas E&P,12048615424,3.4461,18.150,"Devon Energy Corporation, an independent energ..."
4,MGM,Consumer Cyclical,Resorts & Casinos,16917410816,2.45357,32.480,"MGM Resorts International, through its subsidi..."
5,TSLA,¯\_(ツ)_/¯,¯\_(ツ)_/¯,807829635072,None,849.990,¯\_(ツ)_/¯