# Introduction

This notebook explores the capabilities of the [yfinance](https://pypi.org/project/yfinance/) library.

# Libraries

In [1]:
import yfinance as yf

# Single Stok

Follow documentation:

In [2]:
ticker = "TSLA"
stock = yf.Ticker("TSLA")

print(f"The sector of {ticker} is {stock.info['sector']}")
print(f"The industry of {ticker} is {stock.info['industry']}")

The sector of TSLA is Consumer Cyclical
The industry of TSLA is Auto Manufacturers

In [3]:
hist = stock.history(period="max")
hist.head(5)

            Open  High   Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.80  5.00  3.51   4.78  93831500          0           0.0
2010-06-30  5.16  6.08  4.66   4.77  85935500          0           0.0
2010-07-01  5.00  5.18  4.05   4.39  41094000          0           0.0
2010-07-02  4.60  4.62  3.74   3.84  25699000          0           0.0
2010-07-06  4.00  4.00  3.17   3.22  34334500          0           0.0

In [4]:
stock.actions.head(5)

            Dividends  Stock Splits
Date
2020-08-31        0.0           5.0

In [5]:
stock.dividends.head(5)

Series([], Name: Dividends, dtype: int64)

In [6]:
stock.splits.head(5)

Date
2020-08-31    5.0
Name: Stock Splits, dtype: float64

In [7]:
stock.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [8]:
stock.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [9]:
stock.major_holders

        0                                      1
0  19.99%        % of Shares Held by All Insider
1  42.53%       % of Shares Held by Institutions
2  53.15%        % of Float Held by Institutions
3    2079  Number of Institutions Holding Shares

In [10]:
stock.major_holders

        0                                      1
0  19.99%        % of Shares Held by All Insider
1  42.53%       % of Shares Held by Institutions
2  53.15%        % of Float Held by Institutions
3    2079  Number of Institutions Holding Shares

In [11]:
stock.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [12]:
stock.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [13]:
stock.cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [14]:
stock.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [15]:
stock.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
stock.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [17]:
stock.sustainability.head(5)

                      Value
2021-1
palmOil               False
controversialWeapons  False
gambling              False
socialScore           17.31
nuclear               False

In [18]:
stock.recommendations.head(5)

                            Firm    To Grade From Grade Action
Date
2012-02-16 07:42:00    JP Morgan  Overweight              main
2012-02-16 13:53:00   Wunderlich        Hold              down
2012-02-17 06:17:00   Oxen Group         Buy              init
2012-03-26 07:31:00   Wunderlich         Buy                up
2012-05-22 05:57:00  Maxim Group         Buy              init

In [19]:
stock.isin

'US88160R1014'

In [20]:
stock.options

('2021-02-05',
 '2021-02-12',
 '2021-02-19',
 '2021-02-26',
 '2021-03-05',
 '2021-03-12',
 '2021-03-19',
 '2021-04-16',
 '2021-06-18',
 '2021-07-16',
 '2021-09-17',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17')

In [21]:
stock.option_chain("2021-02-05").calls.head(5)

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,TSLA210205C00200000,2021-01-29 19:38:50,200.0,585.78,0.0,0.0,0.0,0.0,2,1,0.00001,True,REGULAR,USD
1,TSLA210205C00250000,2021-01-29 14:30:06,250.0,578.85,0.0,0.0,0.0,0.0,1,1,0.00001,True,REGULAR,USD
2,TSLA210205C00300000,2021-01-29 19:02:57,300.0,493.60,0.0,0.0,0.0,0.0,14,17,0.00001,True,REGULAR,USD
3,TSLA210205C00350000,2021-02-01 20:56:14,350.0,490.08,0.0,0.0,0.0,0.0,11,11,0.00001,True,REGULAR,USD
4,TSLA210205C00360000,2021-02-01 19:01:37,360.0,471.95,0.0,0.0,0.0,0.0,1,3,0.00001,True,REGULAR,USD

# Multiple Stocks

In [22]:
tickers = ["AAPL", "TSLA", "AMZN", "DVN", "MGM", "BKD"]
data = yf.Tickers(tickers)

In [23]:
for ticker in tickers:
    stock = getattr(data.tickers, ticker)

    print(f"The sector of {ticker} is {stock.info['sector']}")
    print(f"The industry of {ticker} is {stock.info['industry']}")
    print("\n")

The sector of AAPL is Technology
The industry of AAPL is Consumer Electronics


The sector of TSLA is Consumer Cyclical
The industry of TSLA is Auto Manufacturers


The sector of AMZN is Consumer Cyclical
The industry of AMZN is Internet Retail


The sector of DVN is Energy
The industry of DVN is Oil & Gas E&P


The sector of MGM is Consumer Cyclical
The industry of MGM is Resorts & Casinos


The sector of BKD is Healthcare
The industry of BKD is Medical Care Facilities